In [1]:
import sqlite3

In [2]:
#Connect Sqlite database

connection = sqlite3.connect("database1.db")
connection

In [3]:
cursor = connection.cursor()

In [21]:
#Create the table
cursor.execute('''
    create table if not exists student (
        roll_no int primary key,
        name varchar(50) ) ;
''')
#Commit the change
connection.commit()

In [6]:
cursor.execute('''
    select * from student;
''')

In [22]:
#Insert some data 
cursor.execute('''
    insert into student values (11,"Ath") , (22,"Atp") , (33,"Phantom");
''')
connection.commit()

In [23]:
#Query the data from the table 
cursor.execute('''
    select * from student;
''')
rows = cursor.fetchall()

#Print the row

for row in rows:
    print(row)

(11, 'Ath')
(22, 'Atp')
(33, 'Phantom')

In [15]:
#Update the data from the table
cursor.execute('''
    update student set name = "AP" where roll_no = 11 ;
''')

In [18]:
#Delete from table 
cursor.execute('''
    delete from student where name = "AP";
''')

In [20]:
cursor.execute('''
    drop table student;
''')

# a